h1
{
    font-family: roboto;
    font-weight: 500;
    font-size: 50px;
}

#color
{
    font-size: 0.6cm;
}

#width_of_line
{
    font-size: 0.6cm;
}

#radius
{
    font-size: 0.6cm;
}

button
{
    font-size: 30px;
    font-family: colfax;
    background-color: thistle;
    
}

#canvas-1
{
    border: 5px solid cadetblue; 
}